## Veri Tabanı Yönetimi(SqLite)

#### Neden İhtiyacımız Var?

Veritabanı, verileri kalıcı ve düzenli bir şekilde saklamamızı, verileri güncellememizi-silmemizi ve yeni veri eklememizi sağlayan veri yığınlarıdır. Veritabanında veriler satır ve sütun şeklinde saklanır. Her bir sütuna veriyle alakalı hangi verinin nasıl saklanacağı bilgisi yazılır, her bir ayrı veri ise satırlara kaydedilir.

Örneğin;

            ogrenciAdi,ogrenciSoyadi,ogrenciNo
           1.Ogun      Birinci        1
           2.Beril     Kucukdilek     2
           3.Ahmet     Ozer           3
           4.Aleyna    Unsal          4
           5.Elzem     Yazici         5
           6.Elif      Kalmac         6
           
Gördüğünüz gibi,yukarıdaki yapı bir tablo olarak ifade edilir; sütunlardaki veriler hep ilişkiseldir. Her bir satırdaki veri ise bir öğrencinin verilerini tutar.

#### Nasıl Yöneteceğiz?
Birçok programlama dilinde veritabanı yönetmek için temel SQL sorguları mevcuttur. Biz de Python programlama dilinde hazır olarak sunulmuş SqLite kütüphanesini kullanarak SQL sorguları ile veritabanını yöneteceğiz.
1. Veri Ekleme(Create)
2. Veri Alma(Read)
3. Veri Güncelleme(Update)
4. Veri Silme(Delete)

#### Veri Tabanı Oluşturma - Bağlanma ve connect() Fonksiyonu

##### Syntax Yapısı
sqlite3.connect("veritabani_adi.uzanti")

Buradaki uzantı .sqlite veya .db olabilir, eğer ki verdiğiniz isim ile bir veri tabanı yoksa bulunduğunuz dizin veya verdiğiniz dizine bu veritabanı oluşturulur eğer ki varsa bağlantı kurulur.

In [3]:
import sqlite3
veritabani=sqlite3.connect("ogrenci.db")
veritabani2=sqlite3.connect("ogrenci.sqlite")

#### İmleç(Cursor) Tanımlama

##### Neden İhtiyacımız Var?

Oluşturduğumuz veya bağlantı kurduğumuz veri tabanı üzerinde işlem yapabilmemiz için bir adet cursor(imleç) oluşturmamız gerekiyor. Tüm işlemleri de bu imleci kullanarak yapacağız.

In [4]:
imlec=veritabani.cursor()
imlec2=veritabani2.cursor()

#### Tablo Oluşturma, Veri Tipleri

Tabloları oluştururken yazılacak verilerin veri tiplerini önceden belirtmemiz gerekiyor, bu veri tipleri;

1. INTEGER: Tam sayılar için
2. REAL: Ondalıklı sayılar için
3. TEXT: Karakter dizileri için
4. BLOB: Binary format için
kullanılıyor.

Bir tabloyu oluşturmak için sorgu içerisinde CREATE komutu kullanmamız gerekiyor, syntax yapısı şu şekilde;

CREATE TABLE tablo_adi(sutun1,sutun2,sutun3...)"

Bu komutu çalıştırmak için ise oluşturduğumuz imleç ile birlikte execute() fonksiyonunu kullanmamız gerekiyor

In [5]:
sorgu="CREATE TABLE Ogrenci(OgrenciAdi TEXT,OgrenciSoyadi TEXT,OgrenciNO INTEGER)"
imlec.execute(sorgu)

#### DİKKAT
Eğer ki tablo zaten var ise, tekrar oluşturmaya çalıştığımızda hata alırız!

In [6]:
sorgu="CREATE TABLE Ogrenci(OgrenciAdi TEXT,OgrenciSoyadi TEXT,OgrenciNO INTEGER)"
imlec.execute(sorgu)

OperationalError: table Ogrenci already exists

#### Bunu nasıl engelleriz?
IF NOT EXISTS komutu ile engelleyebiliriz; eğer ki tablo yok ise  anlamına geliyor.

In [7]:
sorgu="CREATE TABLE IF NOT EXISTS Ogrenci(OgrenciAdi TEXT,OgrenciSoyadi TEXT,OgrenciNO INTEGER)"
imlec.execute(sorgu)

#### Tabloya Kayıt Ekleme

Bir tabloya yeni kayıt eklemek aslında yeni bir satır eklemek anlamına geliyor, bunun için de INSERT INTO komutunu kullanıyoruz;

INSERT INTO tablo_adi(sutun1,sutun2,sutun3..) VALUES(deger1,deger2,deger3..)

İmleç ile ekleme,güncelleme veya silme yaptıktan sonra bu işlemler geçici bir veri kümesi üzerinde yapılır. Kalıcı olmasını istiyorsanız ve veritabanına yansımasını istiyorsanız commit() komutunu kullanmanız gerekir.

In [8]:
sorgu2="INSERT INTO Ogrenci(OgrenciAdi,OgrenciSoyadi,OgrenciNO) VALUES('Ogun','Birinci',1)"
imlec.execute(sorgu2)

In [11]:
veritabani.commit()

##### Parametre ile Ekleme

Bazı durumlarda dışarıdan gelen verilere göre ekleme yapmamız gerekebilir. Bu durumlarda VALUES() kısmına ne yazacağız? Bu durumlarda VALUES(?) şeklinde yazarak ardından parametreyi vereceğiz.

In [10]:
sorgu3="INSERT INTO Ogrenci(OgrenciAdi,OgrenciSoyadi,OgrenciNO) VALUES(?,?,?)"
ogrenciBilgisi=("Burak","Ikinci",2)
imlec.execute(sorgu3,ogrenciBilgisi)

In [12]:
ogrenciBilgisi2=("Elzem","Yazici",3)
imlec.execute(sorgu3,ogrenciBilgisi2)
veritabani.commit()

#### Kayıt Listeleme

Bir tablodaki verileri veya verilerin bir kısmını görüntülemek,listelemek,almak için SELECT komutu kullanıyoruz, şu şekilde;

SELECT sutun1,sutun2,sutun3... FROM tablo_adi WHERE sorgu_kosulu

In [13]:
sorgu4="SELECT OgrenciAdi,OgrenciSoyadi,OgrenciNO FROM Ogrenci"
imlec.execute(sorgu4)

#### Verilerin Görüntülenmesi

SELECT komutuyla verileri alabileceğimizi-listeleyebileceğimizi az önce görmüştük, peki bu verileri nasıl alacağız? nasıl görüntüleyeceğiz?

1. FETCHALL: SELECT ile getirilen tüm verileri almak için kullanılır.
2. FETCHONE: SELECT ile getirilen tek bir satır veriyi okumak için kullanılır, her çağırıldığında bir sonraki satır okunur.
3. FETCHMANY: SELECT ile getirilen verilerden istediğimiz kadar satır okumak için kullanılır.

In [14]:
sorgu4="SELECT OgrenciAdi,OgrenciSoyadi,OgrenciNO FROM Ogrenci"
imlec.execute(sorgu4)
sonuc1=imlec.fetchall()
print(sonuc1)

[('Ogun', 'Birinci', 1), ('Burak', 'Ikinci', 2), ('Elzem', 'Yazici', 3)]

In [16]:
sorgu4="SELECT OgrenciAdi,OgrenciSoyadi,OgrenciNO FROM Ogrenci"
imlec.execute(sorgu4)
sonuc2=imlec.fetchone()
sonuc3=imlec.fetchone()
print(sonuc2)
print(sonuc3)

('Ogun', 'Birinci', 1)
('Burak', 'Ikinci', 2)

In [21]:
sorgu4="SELECT OgrenciAdi,OgrenciSoyadi,OgrenciNO FROM Ogrenci"
imlec.execute(sorgu4)
sonuc4=imlec.fetchmany(3)
print(sonuc4)

[('Ogun', 'Birinci', 1), ('Burak', 'Ikinci', 2), ('Elzem', 'Yazici', 3)]

#### İmleç Üzerinden Veri Okuma

Fonksiyon kullanmadan direkt olarak SELECT ile getirilen verileri imlec üzerinden okuyabiliriz;

In [28]:
sorgu4="SELECT OgrenciAdi,OgrenciSoyadi,OgrenciNO FROM Ogrenci WHERE OgrenciNo>1"
imlec.execute(sorgu4)
for ogrenci in imlec:
    print(ogrenci[1])

Ikinci
Yazici

#### Kayıt Güncelleme

Bir tablodaki verileri güncellemek istiyorsak UPDATE komutunu kullanıyoruz, şu şekilde;

UPDATE tablo_adi SET sutun1=yeni_deger1,sutun2=yeni_deger2...

In [30]:
sorgu5="UPDATE Ogrenci SET OgrenciAdi='Oguz',OgrenciSoyadi='Birinci',OgrenciNO=3"
imlec.execute(sorgu5)
veritabani.commit()

##### DİKKAT
Eğer ki spesifik bir sorguya göre güncelleme yapmazsanız tüm satırları etkiler!

Peki nasıl koşul ekleyeceğiz? WHERE komutu ile sorgulamalar yapabiliriz.

In [42]:
sorgu5="UPDATE Ogrenci SET OgrenciAdi='Ogun',OgrenciSoyadi='Birinci',OgrenciNO=4 WHERE OgrenciAdi='Oguz'"
imlec.execute(sorgu5)
veritabani.commit()

In [43]:
sorgu4="SELECT OgrenciAdi,OgrenciSoyadi,OgrenciNO FROM Ogrenci"
imlec.execute(sorgu4)
sonuc1=imlec.fetchall()
print(sonuc1)

[('Ogun', 'Birinci', 4), ('Burak', 'Ikinci', 2), ('Elzem', 'Yazici', 3)]

#### Kayıt Silme

Bir tablodan veri silmek istiyorsak DELETE FROM komutunu kullanıyoruz, şu şekilde;

DELETE FROM tablo_adi WHERE silme_kosulu

In [51]:
sorgu6="DELETE FROM Ogrenci WHERE OgrenciAdi='Ogun'"
imlec.execute(sorgu6)
veritabani.commit()

ProgrammingError: Cannot operate on a closed database.

In [49]:
sorgu4="SELECT * FROM Ogrenci"
imlec.execute(sorgu4)
sonuc1=imlec.fetchall()
print(sonuc1)

[('Burak', 'Ikinci', 2), ('Elzem', 'Yazici', 3)]

#### Veri Tabanı Bağlantısının Kesilmesi

Veritabanı üzerinde işlemleri yaptıktan sonra veritabanı bağlantısını close() fonksiyonu ile kesmemiz gerekiyor.

In [50]:
veritabani.close()